node_modules/
.next/
out/
dist/
build/
coverage/
.cache/
temp/
tmp/

logs
*.log
*.log.*

.env
.env.*
!.env.example

*.tsbuildinfo

.vscode/
.idea/
.history/

.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

.vercel

*.swp
*.swo
